.idea
.classpath
.springBeans
.project
*.iml
*.eml
target
log
logs
*.log
*.log.*
.DS_Store
*.cache
*.json
*.lock
/build/
*.settings
logs
docs
doc
.apt_generated
.factorypath
/.metadata/
report
checkstyle.html
pmd.html
.mvn
mvnw
mvnw.cmd